/*Bubble*/
.container__bubble{
    overflow-x: scroll;
    padding: 5px;
    text-align: center;
    margin: 20px auto auto;
    @media (min-width: 1000px) {
        justify-content: center;
    }
}
.container__bubble::-webkit-scrollbar{
    height: 0px;
}
.bubble__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    text-transform: uppercase;
    padding: 5px 10px;
}
.bubble__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
}
.bubble__img img{
    width: 100%;
}
.bubble__text{
    padding-top: 5px;
}
.bubble__title{
    font-size: 30px;
    @media (max-width: 780px) {
        font-size: 12px;
    }
}
.bubble__subtitle{
    font-size: 16px;
    @media (max-width: 780px) {
        font-size: 10px;
    }
}