.banner__topic{
    font-family: 'Nunito Sans', sans-serif;
}
.banner__topic{
    margin-top: 120px;
    border-radius: 5px;
    transition: .3s;
    @media (max-width: 780px) {
        margin-top: 50px;
    }
}
.banner__topic:hover{
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    scale: 1.01;
}
.topic__img img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 320px ;
}
.p-10{
    padding: 10px;
}
.topic__title{
    font-size: 40px;
}
.topic__subtitle{
    font-size: 12px;
}
.card__product{
    transition: .3s;
}
.card__product:hover{
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    scale: 1.01;
}